* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 99%;
}

.heading-common {
    color: #3A3A3A;
    font-weight: 700;
}

.para-common {
    font-weight: 600;
    color: #3A3A3A;
}

.btn-primary {
    color: #FFF;
    font-weight: 700;
    border-radius: 41px;
    background: #E02C6D;
    border: none;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 0 120px;
    margin-top: 90px;
}

.nav-bar h3 {
    font-size: 1.5rem;
}

.nav-bar ul {
    display: flex;
    gap: 20px;
    justify-content: space-around;
}

.nav-bar ul li {
    list-style: none;
}

.nav-bar ul li a {
    text-decoration: none;
    color: #3A3A3A;
    font-weight: 600;
}

.header-main {
    margin-top: 80px;
    display: flex;
    gap: 20px;
    padding: 0 120px;
    justify-content: space-between;
    align-items: center;
}

.text-main,
.img-main {
    width: 48%;
}

.text-main h1 {
    margin-bottom: 20px;
    font: size 3.25rem;
}

.btn-main {
    padding: 10px 24px;
    margin-top: 20px;
}

.img-main img {
    width: 100%;
}

.header-logo {
    margin: 5% 10%;
}

.header-logo img {
    padding-left: 2%;
}

.img-collection {
    margin: 2% 12%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-content: space-evenly;
    text-align: start
        /* object-fit: cover; */
}


.collection-card {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 20px 20px;
}

.collection-card img {
    width: 100%;
    height: auto;
}

.col-heading {
    font-size: 1.8rem;
    font-weight: 500;
}

.price {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.772);
}

.featured-products {
    margin: 5% 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.img-featured-products {
    width: 48%;
}

.text-featured-products {
    width: 48%;
}

.text-featured-products h3 {
    font-size: 2.25rem;
    margin-bottom: 15px;
}

.img-featured-products img {
    width: 98%;
    border: none;
    border-radius: 8px;
}












































@media only screen and (min-width:0px) and (max-width: 576px) {
    .nav-bar {
        gap: 5px;
        flex-direction: column;
        padding: 0 5px;
        margin-top: 20px;
        width: 100%;
        align-items: center;
    }

    .nav-bar ul {
        flex-direction: row;
        gap: 4px;
    }

    .header-main {
        flex-direction: column-reverse;
        padding: 10px;
    }

    .text-main,
    .img-main {
        width: 98%;
    }

    .header-logo {
        margin: 3%;
    }

    .img-collection {
        margin: 2% 2%;
        grid-template-columns: auto;

    }

    .collection-card {
        width: 100%;
        padding: 10px;
    }

    .featured-products {
        flex-direction: column-reverse;
        justify-content: space-between;
        /* align-items: center; */
        text-align: center;
        margin: 10% 2%;
        padding-top: 20px;
    }

    .featured-products,
    .img-featured-products,
    .text-featured-products {
        width: 100%;
    }
}